NAIVE BAYES ALGORITHM

In [2]:
import pandas as pd
df = pd.read_csv("/content/Titanic-Dataset.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [4]:
target=df.Survived
inputs=df.drop('Survived',axis='columns')

In [5]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [6]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0

In [7]:
inputs.drop('Sex',axis='columns',inplace=True)
inputs.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [8]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [9]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [10]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head(7)

   Pclass        Age     Fare  female  male
0       3  22.000000   7.2500       0     1
1       1  38.000000  71.2833       1     0
2       3  26.000000   7.9250       1     0
3       1  35.000000  53.1000       1     0
4       3  35.000000   8.0500       0     1
5       3  29.699118   8.4583       0     1
6       1  54.000000  51.8625       0     1

In [11]:

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(inputs,target,test_size=0.3)

In [12]:
len(x_train)

623

In [13]:
len(x_test)

268

In [14]:
len(inputs)

891

In [15]:
x_train

     Pclass        Age     Fare  female  male
510       3  29.000000   7.7500       0     1
67        3  19.000000   8.1583       0     1
747       2  30.000000  13.0000       1     0
56        2  21.000000  10.5000       1     0
132       3  47.000000  14.5000       1     0
..      ...        ...      ...     ...   ...
36        3  29.699118   7.2292       0     1
196       3  29.699118   7.7500       0     1
712       1  48.000000  52.0000       0     1
126       3  29.699118   7.7500       0     1
354       3  29.699118   7.2250       0     1

[623 rows x 5 columns]

In [16]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [17]:
model.fit(x_train,y_train)

GaussianNB()

In [18]:
model.score(x_test,y_test)

0.7835820895522388

In [19]:
x_test[:10]

     Pclass        Age      Fare  female  male
794       3  25.000000    7.8958       0     1
667       3  29.699118    7.7750       0     1
592       3  47.000000    7.2500       0     1
609       1  40.000000  153.4625       1     0
176       3  29.699118   25.4667       0     1
787       3   8.000000   29.1250       0     1
702       3  18.000000   14.4542       1     0
721       3  17.000000    7.0542       0     1
39        3  14.000000   11.2417       1     0
558       1  39.000000   79.6500       1     0

In [20]:
y_test[:12]

794    0
667    0
592    0
609    1
176    0
787    0
702    0
721    0
39     1
558    1
445    1
140    0
Name: Survived, dtype: int64

In [21]:
model.predict(x_test[:10])

array([0, 0, 0, 1, 0, 0, 1, 0, 1, 1])

In [22]:
model.predict_proba(x_test[:10])

array([[9.90224514e-01, 9.77548551e-03],
       [9.90741717e-01, 9.25828306e-03],
       [9.89729319e-01, 1.02706813e-02],
       [3.66093891e-07, 9.99999634e-01],
       [9.90618026e-01, 9.38197419e-03],
       [9.83058583e-01, 1.69414173e-02],
       [5.16975318e-02, 9.48302468e-01],
       [9.88269105e-01, 1.17308955e-02],
       [4.56432177e-02, 9.54356782e-01],
       [9.22970487e-04, 9.99077030e-01]])